<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Guillermo Guridi</string>
	<key>Builder Version</key>
	<string>9537.78.2</string>
	<key>CFBundleDisplayName</key>
	<string>Projects</string>
	<key>CFBundleIdentifier</key>
	<string>com.erpheus.projects</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>newProject</string>
				<key>Identifier</key>
				<string>newProject</string>
				<key>Image</key>
				<string>papers1.png</string>
				<key>Label</key>
				<string>Projects</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injectable.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Extension to keep different projects (groups of tabs) independent without clogging the tab bar.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
